@model IEnumerable<ImageVwr.Models.WordModel>

@{
    ViewData["Title"] = "ShowTop10";
}

<h1>Top 10 Most Occurring Words</h1>

<p>
    <a asp-action="Index">Show All</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occurrences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WordName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Occurrences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
